<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Journey</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ai_journey.css') }}">
</head>

<body>

<div class="container">

    <h1 class="title">My AI Journey</h1>

    <p class="subtitle">
        I started my AI journey by joining a <b>2-Month AI Internship at CodroidHub Pvt. Ltd.</b>
        During this internship, I learned Python, Machine Learning, Data Analysis,
        Power BI, Web Scraping, Flask, APIs, and built multiple real-world AI projects.
    </p>

    <div class="cards">

        <!-- Week 1 -->
        <div class="card">
            <h2>Week 1</h2>
            <p>
           Covered AI fundamentals, AI project lifecycle, real-world scenarios, Python basics, important Python libraries, and hands-on practice with string operations through assignments.
           </p>

            <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp/tree/main/Assignments"
               target="_blank"
               class="btn">
               View Notebook
            </a>
        </div>

        <!-- Week 2 -->
        <div class="card">
            <h2>Week 2</h2>
            <p>
                Studied problem scoping, Deepfake concepts, the 4W's Problem Canvas, data collection, CSV data storage, and risk scoring. Applied these techniques to understand and analyze real-world AI problem-solving scenarios.
            </p>

                 <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp/tree/main/Problem_scoping"

               target="_blank"
               class="btn">
               View Notebook
            </a>
        </div>

        <!-- Week 3 -->
        <div class="card">
            <h2>Week 3</h2>
            <p>GitHub Profile creation, Repositories creation, overview of Web Scrapping,uses Libraries like numpy, pandas, BeautiSoup.</p>

            <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp"
               target="_blank"
               class="btn">
               View Notebook
            </a>>
        </div>

        <!-- Week 4 -->
        <div class="card">
            <h2>Week 4</h2>
            <p>Static Web scarping, Dynamic Web scarping,API Web scarping,Update Projects on GitHub and Linkedin,SQLite library Use</p>

            <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp/tree/main/Web_Scraping"
               target="_blank"
               class="btn">
               View Notebook
            </a>>
        </div>

        <!-- Week 5 -->
        <div class="card">
            <h2>Week 5</h2>
            <p>Generating Synthetic data and using it with SQLite, Creating Portfolio, update all the projects on Portfolio,power BI desktop, Data Cleaning, Deployment,Flask.</p>

            <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp/blob/main/data_generate%20(1).ipynb"
               target="_blank"
               class="btn">
               View Notebook
            </a>
        </div>

        <!-- Week 6 -->
        <div class="card">
            <h2>Week 6</h2>
            <p>Final AI Project,Modeling,Different Types of Ml Algorithm, how to create API Key.</p>

            <a href="https://github.com/Shagun-Kamboj/AI-ML-Bootcamp/blob/main/classification_algo(class).ipynb"
               target="_blank"
               class="btn">
               View Notebook
            </a>>
        </div>

    </div>

    <div class="back">
        <a href="/">⬅ Back to Home</a>
    </div>

</div>

</body>
</html>